.app {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  background-image: url(https://cdn.discordapp.com/attachments/718455188100350035/758060068154507325/group_project_background.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.dashboard__component {
  height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.dashboard__component .dashboard__item__main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dashboard__component .dashboard__item__main .dashboard__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(32, 40, 51, 0.5);
  border-color: #66FCF1;
  height: 43px;
  width: 100%;
}

.dashboard__component .dashboard__item__main .dashboard__item .keyChain__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100%;
  border: 2px solid #66FCF1;
  mix-blend-mode: overlay;
  color: #C5C6C7;
}

.dashboard__component .dashboard__item__main .dashboard__item .keyChain__password {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100%;
  border: 2px solid #66FCF1;
  mix-blend-mode: overlay;
  color: #C5C6C7;
  -webkit-text-security: disc;
}

.dashboard__component .dashboard__item__main .dashboard__item .keyChain__date {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 100%;
  border: 2px solid #66FCF1;
  mix-blend-mode: overlay;
  color: #C5C6C7;
}

.dash__profile__component {
  height: 150px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  margin-bottom: 10px;
}

.dash__profile__component .dash__profile__main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: stretch;
}

.dash__profile__component .dash__profile__main .dash__profile__picture {
  height: 120px;
  margin-left: 20px;
  border-radius: 50%;
}

.dash__profile__component .dash__profile__main .dash__profile__email {
  margin-left: 40px;
  color: #C5C6C7;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dash__profile__component .Logo {
  height: 120px;
  mix-blend-mode: overlay;
}

.dash__profile__border {
  height: 10px;
  width: 85vw;
  border-top: 4px solid #66FCF1;
  mix-blend-mode: overlay;
  margin-bottom: 20px;
}

.FaceVerify {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.FaceVerify .faceVerify--container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(32, 40, 51, 0.5);
  width: 600px;
  height: 650px;
}

.FaceVerify .faceVerify--container .faceVerify__title {
  font-size: 30px;
  font-weight: bold;
  color: #66FCF1;
  margin-top: 70px;
}

.FaceVerify .faceVerify--container .faceVerify__buttons {
  width: 500px;
}

.FaceVerify .faceVerify--container .faceVerify__buttons .faceVerify__buttons__top {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.FaceVerify .faceVerify--container .faceVerify__buttons .faceVerify__buttons__top .faceVerify__button__top {
  width: 180px;
  height: 45px;
  margin-top: 20px;
  font-size: 18px;
  background-color: transparent;
  border-color: #66FCF1;
  color: #C5C6C7;
  mix-blend-mode: overlay;
}

.FaceVerify .faceVerify--container .faceVerify__buttons .faceVerify__buttons__bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.FaceVerify .faceVerify--container .faceVerify__buttons .faceVerify__buttons__bottom .faceVerify__button__bottom {
  height: 45px;
  width: 150px;
  margin: 20px;
  font-size: 18px;
  background-color: transparent;
  border-color: #66FCF1;
  color: #C5C6C7;
  mix-blend-mode: overlay;
}

.auth__component {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.auth__component .login--container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(32, 40, 51, 0.5);
  width: 400px;
  height: 450px;
}

.auth__component .login--container .login__title {
  font-weight: bold;
  font-size: 45px;
  color: #66FCF1;
}

.auth__component .login--container #login__input__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 23%;
  width: 60%;
  margin-top: 70px;
}

.auth__component .login--container #login__input__section .login__input {
  display: flex;
  height: 30px;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgba(11, 12, 16, 0.5);
}

.auth__component .login--container #login__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth__component .login--container #login__buttons .login__button {
  margin-bottom: 15px;
  height: 45px;
  width: 120px;
  background-color: transparent;
  border-color: #66FCF1;
  color: #C5C6C7;
  mix-blend-mode: overlay;
}

.Nav__component {
  width: 120px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  mix-blend-mode: overlay;
}

.Nav__component .dropdown {
  width: 100px;
}

.Nav__component .dropdown .menu__lines {
  width: 65px;
  margin: 15px;
  margin-top: 20px;
}

.Nav__component .nav--dropDown {
  height: 85vh;
  width: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.Nav__component .nav--dropDown .nav__icons {
  height: 85vh;
  width: 125px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.Nav__component .nav--dropDown .nav__icons .nav__top {
  height: 170px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.Nav__component .nav--dropDown .nav__icons .nav__top .nav__faceVerify {
  width: 65px;
}

.Nav__component .nav--dropDown .nav__icons .nav__top .nav__credentials {
  width: 65px;
}

.Nav__component .nav--dropDown .nav__icons .nav__logout {
  width: 65px;
}

.Nav__component .nav--dropDown .nav__border {
  height: 85vh;
  width: 10px;
  border-right: 4px solid #66FCF1;
  mix-blend-mode: overlay;
}

.add__photos {
  width: 50vw;
  height: 50vh;
  border: 2px solid red;
}

.register--container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(32, 40, 51, 0.5);
  width: 490px;
  height: 570px;
}

.register--container .register__title {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #66FCF1;
}

.register--container #register__input__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  height: 35%;
  width: 60%;
  margin-top: 70px;
}

.register--container #register__input__section .register__input {
  display: flex;
  height: 30px;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgba(11, 12, 16, 0.5);
}

.register--container #register__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 22%;
}

.register--container #register__buttons .two__factor__button {
  margin-bottom: 15px;
  height: 40px;
  width: 160px;
  background-color: transparent;
  border-color: #66FCF1;
  color: #C5C6C7;
  mix-blend-mode: overlay;
}

.register--container #register__buttons .register__button {
  margin-right: 15px;
  height: 45px;
  width: 120px;
  background-color: transparent;
  border-color: #66FCF1;
  color: #C5C6C7;
  mix-blend-mode: overlay;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
