  
$black-color: #0B0C10;
$dark-gray-color: #1f2833;
//dark gray rgb: rgba(32, 40, 51, 0.5)
$light-gray-color: #C5C6C7;
$mint-color: #66FCF1;
//mint color: rgba(102, 252, 141,
$dark-mint-color: #45A29E;

$geneva-font-stack: Geneva, Tahoma, Verdana, sans-serif !default;