.dashboard__component{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;

    .dashboard__item__main{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: flex-start;
        .dashboard__item {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: flex-start;
            background-color: rgba(32, 40, 51, 0.5);
            border-color: $mint-color;
            height: 43px;
            width: 100%;
    
            .keyChain__item {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 100%;
                border: 2px solid $mint-color;
                mix-blend-mode: overlay;
                color: $light-gray-color;
            }
            .keyChain__date {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                width: 270px;
                height: 100%;
                border: 2px solid $mint-color;
                mix-blend-mode: overlay;
                color: $light-gray-color;
            }
        }
    }
}