.imageCard__component {
    border: 1px solid white;
    max-width: 400px;
    max-height: 400px;
    margin: 10px;
}

.imageCard__title--container {
    display: flex;
    justify-content: space-between;
}

.imageCard__image {
    max-width: 400px;
}