.auth__component{
  height: 100vh;
  width: 100vw;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
 
  .login--container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    // border: 2px solid rgb(87, 131, 228);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(32, 40, 51, 0.5);
    width: 400px;
    height: 450px;
    margin-top: 150px;

    .login__title{
      // display: flex;
      // justify-content: flex-start;
      // font-family: $geneva-font-stack;
      font-weight: bold;
      font-size: 48px;
      color: $mint-color;
      margin-top: 20px;
    }
    
    #login__input__section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      // font-family: $geneva-font-stack;
      height: 23%;
      width: 60%;
      margin-top: 60px;
      
      .login__input{
        display: flex;
        // flex-direction: column;
        // align-items: center;
        height: 30px;
        margin-bottom: 20px;
        text-align: center;
        background-color: rgba(11, 12, 16, 0.5);
        color: white;
      }
    }
    #login__buttons{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
  
      // padding-top: 20px;
  
      .login__button{
        // font: $geneva-font-stack;
        margin-bottom: 15px;
        height: 45px;
        width: 120px;
        background-color: transparent;
        border-color: $mint-color;
        color: white;
        mix-blend-mode: overlay;
        // margin-top: 5px;
        // width: 25%;
        cursor: pointer;
      }
    }
  }

  .About__Component {
    height: 180px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    mix-blend-mode: overlay;
    .About__Title {
      height: 20px;
      font-size: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: $mint-color;
    }
    .About__Icons__List {
      margin-top: 5px;

      .About__Icons {
        width: 30px;
        margin: 4px;
      }
    }
  }
}