.Nav__component {
    width: 120px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    mix-blend-mode: overlay;
    
    .dropdown {
        width: 100px;
        
        .menu__lines {
            width: 65px;
            margin: 15px;
            margin-top: 20px;
            cursor: pointer;
        }

        
    }
    .nav--dropDown {
        height: 92vh;
        width: 120px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-color: rgba(32, 40, 51, 0.5);

        .nav__icons{
            height: 85vh;
            width: 125px;
            margin-left: 10px;
            margin-right: 10px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            .nav__top{
                height: 370px;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                .nav__faceVerify {
                    width: 65px;
                    cursor: pointer;
                    // height: 50px;
                }
        
                .nav__credentials {
                    width: 65px;
                    cursor: pointer;
                }

                .nav__credentials__list {
                    width: 65px;
                    cursor: pointer;
                }
            }
            .nav__logout {
                width: 65px;
                margin-bottom: 20px;
                cursor: pointer;
            }
        }
        .nav__border {
            height: 85vh;
            width: 10px;
            border-right: 4px solid $mint-color;
            mix-blend-mode: overlay;
        }
    }

    
}