@import "config";
@import "app";
@import "credentials";
@import "dashboard";
@import "dashProfile";
@import "faceVerify";
@import "frontPage";
@import "login";
@import "nav";
@import "photos";
@import "register";
@import "imagelist";
@import "imagecard";
@import "imageinfo";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }